<h1>Class Details:{{ class_detail.name}}-</h1>

<table style="width: 100%">

	<tr>
    
        
        <td style="width: 20%"><h4>Student Name</h4></td>
        <td style="width: 20%"><h4>Student Address</h4></td>
        
        
    </tr>
{% for student in student_detail %}
    <tr>
    	
        

       <td style="width: 20%"><a href="/detail_student/?id={{ student.id }}">{{ student.student_name }} </a></td>
        <td style="width: 20%">{{ student.address }}</td>
       
    </tr>
    {% endfor %}
</table>
<table> <tr>
<td><a href="/new_class/"> <input type="submit" value="Add Class" /> </a></td>
<td><a href="/edit_class/?id={{class_detail.id}}">edit class</a></td>
<td><a href="/confirm/?id={{class_detail.id}}">delete class</a></td>


</tr></table>
	
   <a href="/"> << </a>
	  