<h1> Class List & Student List</h1>
<a href="/new_class/"> <input type="submit" value="Add Class" /> </a>
<a href="/new_student/"> <input type="submit" value="Add Student" /> </a>

<!-- <a href="/test/"> click for foreign key </a> -->

<h3>List of classes</h3>

{% for name in class_name%}
<table style="width: 100%">	
	</tr>
		<tr>
			<td style="width: 25%"> 
<a href="/detail_class/?id={{ name.id }}"> {{ name.name}} </a>
</td>
	</tr>
		</table>

{% endfor %}



<h3>List of students</h3>

{% for name in student_name%}
<table style="width: 100%">	
	</tr>
		<tr>
			<td style="width: 25%"> 
<a href="/detail_student/?id={{ name.id }}"> {{ name.student_name}} </a>
</td>
	</tr>
		</table>

{% endfor %}

